<!doctype html>
<title>Love Your Leftovers</title>


{% if name %}
{% else %}
        <h1>Welcome to Love Your Leftovers!</h1>
{% endif %}
<body>
        <h3> This website helps you make meals from your leftovers </h3>


<div id="search-food">
    <h4>Search your leftovers!</h4>
    <form method="post" action="/search">
        <label for="ingredient">First Ingredient </label>
        <input type="text" id="first_ingredient" name="first_ingredient" value="" placeholder="
        First ingredient here" required="required" autofocus="autofocus" />
        <label for="ingredient">Second ingredient </label>
        <input type="text" id="second_ingredient" name="second_ingredient" value="" placeholder="
        Second ingredient here"  autofocus="autofocus" />
        <input type="submit" value="Submit" id="submit-button" />
    </form>
</div>
